/**
 * @package SP Page Builder
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2015 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/
#sp-page-builder .page-content .sppb-section {
  margin-top: 30px;
  z-index: 1;
}
#sp-page-builder .page-content .sppb-section:first-child {
  margin-top: 0;
}
#sp-page-builder .sppb-section-title {
  margin-bottom: 50px;
}
#sp-page-builder .sppb-section-title .sppb-title-heading {
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  border: 0;
}
#sp-page-builder .sppb-section-title .sppb-title-subheading {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
#sp-page-builder .sppb-section-title.sppb-text-center .sppb-title-subheading {
  display: inline-block;
  max-width: 80%;
}
.sppb-addon-cta .sppb-cta-title {
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  border: 0;
}
.sppb-addon-cta .sppb-cta-subtitle {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
.sppb-addon-cta .sppb-cta-text {
  margin-top: 15px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .sppb-addon-cta .sppb-row {
    display: table-row;
    height: 100%;
  }
  .sppb-addon-cta .sppb-row > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}
.sppb-addon-facebook-likebox * {
  max-width: 100% !important;
}
.sppb-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sppb-gallery li {
  display: inline-block;
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sppb-gallery li a {
  display: block;
}
.sppb-addon-persion .sppb-addon-content > div {
  margin-top: 15px;
}
.sppb-addon-persion .sppb-addon-content > div:first-child {
  margin-top: 0;
}
.sppb-addon-persion .sppb-person-information > span {
  display: block;
}
.sppb-addon-persion .sppb-person-information > span.sppb-person-name {
  font-size: 16px;
  font-weight: bold;
}
.sppb-addon-persion .sppb-person-information > span.sppb-person-designation {
  font-size: 12px;
  color: #888;
}
.sppb-addon-persion .sppb-person-social {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0 -8px;
}
.sppb-addon-persion .sppb-person-social > li {
  display: inline-block;
  margin: 0 8px;
}
.sppb-addon-persion .sppb-person-social > li > a {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}
.sppb-addon-persion .sppb-person-social > li > a:hover {
  color: #666;
}
.sppb-pricing-box {
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.sppb-pricing-box.sppb-pricing-featured {
  border-color: #7FBA00;
  background-color: #7FBA00;
  color: #fff;
}
.sppb-pricing-box .sppb-pricing-header .sppb-pricing-title {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sppb-pricing-box .sppb-pricing-header > span.sppb-pricing-price {
  font-size: 24px;
  line-height: 24px;
}
.sppb-pricing-box .sppb-pricing-header > span.sppb-pricing-duration {
  font-size: 16px;
  line-height: 16px;
}
.sppb-pricing-box .sppb-pricing-features {
  padding: 20px 0;
}
.sppb-pricing-box .sppb-pricing-features > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sppb-pricing-box .sppb-pricing-features > ul > li {
  display: block;
  padding: 5px 0;
}
.sppb-addon-animated-number .sppb-addon-content {
  display: inline-block;
}
.sppb-addon-animated-number .sppb-addon-content .sppb-animated-number-title {
  margin-top: 10px;
}
.sppb-addon-animated-number.sppb-hasbg .sppb-addon-content {
  padding: 20px;
}
.sppb-flickr-gallery {
  list-style: none;
  padding: 0;
  margin: -5px;
}
.sppb-flickr-gallery:before,
.sppb-flickr-gallery:after {
  content: " ";
  display: table;
}
.sppb-flickr-gallery:after {
  clear: both;
}
.sppb-flickr-gallery:before,
.sppb-flickr-gallery:after {
  content: " ";
  display: table;
}
.sppb-flickr-gallery:after {
  clear: both;
}
.sppb-flickr-gallery li {
  display: block;
  float: left;
  margin: 5px;
}
.sppb-flickr-gallery li a {
  display: block;
}
.sppb-flickr-gallery li a > img {
  width: 64px;
  height: 64px;
}
.sppb-pie-chart {
  position: relative;
  display: inline-block;
}
.sppb-pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.sppb-pie-chart .sppb-chart-percent {
  font-size: 24px;
}
.sppb-pie-chart .sppb-chart-icon,
.sppb-pie-chart .sppb-chart-percent {
  width: 100%;
  height: 100%;
  display: table;
}
.sppb-pie-chart .sppb-chart-icon span,
.sppb-pie-chart .sppb-chart-percent span {
  display: table-cell;
  vertical-align: middle;
}
.sppb-addon-image-content {
  position: relative;
}
.sppb-addon-image-content .sppb-image-holder {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}
.sppb-addon-image-content.aligment-left .sppb-image-holder {
  left: 0;
}
.sppb-addon-image-content.aligment-left .sppb-content-holder {
  padding: 120px 0 120px 50px;
}
.sppb-addon-image-content.aligment-right .sppb-image-holder {
  right: 0;
}
.sppb-addon-image-content.aligment-right .sppb-content-holder {
  padding: 120px 50px 120px 0;
}
@media (max-width: 768px) {
  .sppb-addon-image-content .sppb-image-holder {
    position: inherit;
    width: 100% !important;
    height: 300px;
  }
}
.sppb-addon-articles {
  margin-bottom: -30px;
}
.sppb-addon-articles .sppb-addon-article {
  margin-bottom: 30px;
}
.sppb-addon-articles .sppb-carousel .sppb-carousel-inner > .sppb-item {
  padding: 0;
}
.sppb-addon-articles .sppb-carousel .sppb-carousel-control {
  position: absolute;
  top: 50%;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  line-height: 34px;
  font-size: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 0;
  text-align: center;
}
.sppb-addon-articles .sppb-carousel .sppb-carousel-control.left {
  left: 10px;
}
.sppb-addon-articles .sppb-carousel .sppb-carousel-control.right {
  right: 10px;
}
.sppb-addon-articles .sppb-carousel .sppb-carousel-control:hover {
  background-color: #333;
  border-color: #333;
}
.sppb-addon-articles:hover .sppb-carousel-control {
  opacity: 1;
}
.sppb-addon-articles .sppb-article-meta {
  margin: -5px -5px 5px;
}
.sppb-addon-articles .sppb-article-meta > span {
  display: inline-block;
  margin: 5px;
  color: #888;
  font-size: 13px;
}
#sp-page-builder * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sp-page-builder *:before,
#sp-page-builder *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sp-page-builder input,
#sp-page-builder button,
#sp-page-builder select,
#sp-page-builder textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#sp-page-builder img {
  vertical-align: middle;
}
.sppb-img-responsive,
.sppb-carousel-inner > .sppb-item > img,
.sppb-carousel-inner > .sppb-item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.sppb-img-rounded {
  border-radius: 6px;
}
.sppb-img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.sppb-img-circle {
  border-radius: 50%;
}
#sp-page-builder hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sppb-lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .sppb-lead {
    font-size: 21px;
  }
}
.sppb-text-left {
  text-align: left;
}
.sppb-text-right {
  text-align: right;
}
.sppb-text-center {
  text-align: center;
}
.sppb-text-center .sppb-img-responsive {
  display: inline-block;
}
.sppb-text-justify {
  text-align: justify;
}
.sppb-text-nowrap {
  white-space: nowrap;
}
.sppb-text-lowercase {
  text-transform: lowercase;
}
.sppb-text-uppercase {
  text-transform: uppercase;
}
.sppb-text-capitalize {
  text-transform: capitalize;
}
.sppb-text-muted {
  color: #777777;
}
.sppb-text-primary {
  color: #428bca;
}
a.sppb-text-primary:hover {
  color: #3071a9;
}
.sppb-text-success {
  color: #3c763d;
}
a.sppb-text-success:hover {
  color: #2b542c;
}
.sppb-text-info {
  color: #31708f;
}
a.sppb-text-info:hover {
  color: #245269;
}
.sppb-text-warning {
  color: #8a6d3b;
}
a.sppb-text-warning:hover {
  color: #66512c;
}
.sppb-text-danger {
  color: #a94442;
}
a.sppb-text-danger:hover {
  color: #843534;
}
.sppb-blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
.sppb-blockquote p:last-child,
.sppb-blockquote ul:last-child,
.sppb-blockquote ol:last-child {
  margin-bottom: 0;
}
.sppb-blockquote footer,
.sppb-blockquote small,
.sppb-blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
.sppb-blockquote footer:before,
.sppb-blockquote small:before,
.sppb-blockquote .small:before {
  content: '\2014 \00A0';
}
.sppb-blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.sppb-blockquote.pull-right footer:before,
.sppb-blockquote.pull-right small:before,
.sppb-blockquote.pull-right .small:before {
  content: '';
}
.sppb-blockquote.pull-right footer:after,
.sppb-blockquote.pull-right small:after,
.sppb-blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
.sppb-blockquote:before,
.sppb-blockquote:after {
  content: "";
}
.sppb-address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.sppb-addon-blocknumber .sppb-blocknumber-number {
  display: inline-block;
  text-align: center;
}
.sppb-addon-blocknumber .sppb-media-body.sppb-text-center {
  margin-top: 15px;
}
.sppb-addon-blocknumber .sppb-media-body h1,
.sppb-addon-blocknumber .sppb-media-body h2,
.sppb-addon-blocknumber .sppb-media-body h3,
.sppb-addon-blocknumber .sppb-media-body h4,
.sppb-addon-blocknumber .sppb-media-body h5,
.sppb-addon-blocknumber .sppb-media-body h6 {
  margin-top: 0;
}
.sppb-dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
.sppb-code,
.sppb-pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.sppb-code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.sppb-pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.sppb-pre .sppb-code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.sppb-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sppb-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .sppb-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .sppb-container {
    width: 1170px;
  }
}
.sppb-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.sppb-row {
  margin-left: -15px;
  margin-right: -15px;
}
.sppb-col-xs-1, .sppb-col-sm-1, .sppb-col-md-1, .sppb-col-lg-1, .sppb-col-xs-2, .sppb-col-sm-2, .sppb-col-md-2, .sppb-col-lg-2, .sppb-col-xs-3, .sppb-col-sm-3, .sppb-col-md-3, .sppb-col-lg-3, .sppb-col-xs-4, .sppb-col-sm-4, .sppb-col-md-4, .sppb-col-lg-4, .sppb-col-xs-5, .sppb-col-sm-5, .sppb-col-md-5, .sppb-col-lg-5, .sppb-col-xs-6, .sppb-col-sm-6, .sppb-col-md-6, .sppb-col-lg-6, .sppb-col-xs-7, .sppb-col-sm-7, .sppb-col-md-7, .sppb-col-lg-7, .sppb-col-xs-8, .sppb-col-sm-8, .sppb-col-md-8, .sppb-col-lg-8, .sppb-col-xs-9, .sppb-col-sm-9, .sppb-col-md-9, .sppb-col-lg-9, .sppb-col-xs-10, .sppb-col-sm-10, .sppb-col-md-10, .sppb-col-lg-10, .sppb-col-xs-11, .sppb-col-sm-11, .sppb-col-md-11, .sppb-col-lg-11, .sppb-col-xs-12, .sppb-col-sm-12, .sppb-col-md-12, .sppb-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.sppb-col-xs-1, .sppb-col-xs-2, .sppb-col-xs-3, .sppb-col-xs-4, .sppb-col-xs-5, .sppb-col-xs-6, .sppb-col-xs-7, .sppb-col-xs-8, .sppb-col-xs-9, .sppb-col-xs-10, .sppb-col-xs-11, .sppb-col-xs-12 {
  float: left;
}
.sppb-col-xs-12 {
  width: 100%;
}
.sppb-col-xs-11 {
  width: 91.66666667%;
}
.sppb-col-xs-10 {
  width: 83.33333333%;
}
.sppb-col-xs-9 {
  width: 75%;
}
.sppb-col-xs-8 {
  width: 66.66666667%;
}
.sppb-col-xs-7 {
  width: 58.33333333%;
}
.sppb-col-xs-6 {
  width: 50%;
}
.sppb-col-xs-5 {
  width: 41.66666667%;
}
.sppb-col-xs-4 {
  width: 33.33333333%;
}
.sppb-col-xs-3 {
  width: 25%;
}
.sppb-col-xs-2 {
  width: 16.66666667%;
}
.sppb-col-xs-1 {
  width: 8.33333333%;
}
.sppb-col-xs-pull-12 {
  right: 100%;
}
.sppb-col-xs-pull-11 {
  right: 91.66666667%;
}
.sppb-col-xs-pull-10 {
  right: 83.33333333%;
}
.sppb-col-xs-pull-9 {
  right: 75%;
}
.sppb-col-xs-pull-8 {
  right: 66.66666667%;
}
.sppb-col-xs-pull-7 {
  right: 58.33333333%;
}
.sppb-col-xs-pull-6 {
  right: 50%;
}
.sppb-col-xs-pull-5 {
  right: 41.66666667%;
}
.sppb-col-xs-pull-4 {
  right: 33.33333333%;
}
.sppb-col-xs-pull-3 {
  right: 25%;
}
.sppb-col-xs-pull-2 {
  right: 16.66666667%;
}
.sppb-col-xs-pull-1 {
  right: 8.33333333%;
}
.sppb-col-xs-pull-0 {
  right: auto;
}
.sppb-col-xs-push-12 {
  left: 100%;
}
.sppb-col-xs-push-11 {
  left: 91.66666667%;
}
.sppb-col-xs-push-10 {
  left: 83.33333333%;
}
.sppb-col-xs-push-9 {
  left: 75%;
}
.sppb-col-xs-push-8 {
  left: 66.66666667%;
}
.sppb-col-xs-push-7 {
  left: 58.33333333%;
}
.sppb-col-xs-push-6 {
  left: 50%;
}
.sppb-col-xs-push-5 {
  left: 41.66666667%;
}
.sppb-col-xs-push-4 {
  left: 33.33333333%;
}
.sppb-col-xs-push-3 {
  left: 25%;
}
.sppb-col-xs-push-2 {
  left: 16.66666667%;
}
.sppb-col-xs-push-1 {
  left: 8.33333333%;
}
.sppb-col-xs-push-0 {
  left: auto;
}
.sppb-col-xs-offset-12 {
  margin-left: 100%;
}
.sppb-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.sppb-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.sppb-col-xs-offset-9 {
  margin-left: 75%;
}
.sppb-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.sppb-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.sppb-col-xs-offset-6 {
  margin-left: 50%;
}
.sppb-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.sppb-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.sppb-col-xs-offset-3 {
  margin-left: 25%;
}
.sppb-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.sppb-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.sppb-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .sppb-col-sm-1, .sppb-col-sm-2, .sppb-col-sm-3, .sppb-col-sm-4, .sppb-col-sm-5, .sppb-col-sm-6, .sppb-col-sm-7, .sppb-col-sm-8, .sppb-col-sm-9, .sppb-col-sm-10, .sppb-col-sm-11, .sppb-col-sm-12 {
    float: left;
  }
  .sppb-col-sm-12 {
    width: 100%;
  }
  .sppb-col-sm-11 {
    width: 91.66666667%;
  }
  .sppb-col-sm-10 {
    width: 83.33333333%;
  }
  .sppb-col-sm-9 {
    width: 75%;
  }
  .sppb-col-sm-8 {
    width: 66.66666667%;
  }
  .sppb-col-sm-7 {
    width: 58.33333333%;
  }
  .sppb-col-sm-6 {
    width: 50%;
  }
  .sppb-col-sm-5 {
    width: 41.66666667%;
  }
  .sppb-col-sm-4 {
    width: 33.33333333%;
  }
  .sppb-col-sm-3 {
    width: 25%;
  }
  .sppb-col-sm-2 {
    width: 16.66666667%;
  }
  .sppb-col-sm-1 {
    width: 8.33333333%;
  }
  .sppb-col-sm-pull-12 {
    right: 100%;
  }
  .sppb-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .sppb-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .sppb-col-sm-pull-9 {
    right: 75%;
  }
  .sppb-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .sppb-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .sppb-col-sm-pull-6 {
    right: 50%;
  }
  .sppb-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .sppb-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .sppb-col-sm-pull-3 {
    right: 25%;
  }
  .sppb-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .sppb-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .sppb-col-sm-pull-0 {
    right: auto;
  }
  .sppb-col-sm-push-12 {
    left: 100%;
  }
  .sppb-col-sm-push-11 {
    left: 91.66666667%;
  }
  .sppb-col-sm-push-10 {
    left: 83.33333333%;
  }
  .sppb-col-sm-push-9 {
    left: 75%;
  }
  .sppb-col-sm-push-8 {
    left: 66.66666667%;
  }
  .sppb-col-sm-push-7 {
    left: 58.33333333%;
  }
  .sppb-col-sm-push-6 {
    left: 50%;
  }
  .sppb-col-sm-push-5 {
    left: 41.66666667%;
  }
  .sppb-col-sm-push-4 {
    left: 33.33333333%;
  }
  .sppb-col-sm-push-3 {
    left: 25%;
  }
  .sppb-col-sm-push-2 {
    left: 16.66666667%;
  }
  .sppb-col-sm-push-1 {
    left: 8.33333333%;
  }
  .sppb-col-sm-push-0 {
    left: auto;
  }
  .sppb-col-sm-offset-12 {
    margin-left: 100%;
  }
  .sppb-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sppb-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sppb-col-sm-offset-9 {
    margin-left: 75%;
  }
  .sppb-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sppb-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sppb-col-sm-offset-6 {
    margin-left: 50%;
  }
  .sppb-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sppb-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sppb-col-sm-offset-3 {
    margin-left: 25%;
  }
  .sppb-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sppb-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sppb-col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .sppb-col-md-1, .sppb-col-md-2, .sppb-col-md-3, .sppb-col-md-4, .sppb-col-md-5, .sppb-col-md-6, .sppb-col-md-7, .sppb-col-md-8, .sppb-col-md-9, .sppb-col-md-10, .sppb-col-md-11, .sppb-col-md-12 {
    float: left;
  }
  .sppb-col-md-12 {
    width: 100%;
  }
  .sppb-col-md-11 {
    width: 91.66666667%;
  }
  .sppb-col-md-10 {
    width: 83.33333333%;
  }
  .sppb-col-md-9 {
    width: 75%;
  }
  .sppb-col-md-8 {
    width: 66.66666667%;
  }
  .sppb-col-md-7 {
    width: 58.33333333%;
  }
  .sppb-col-md-6 {
    width: 50%;
  }
  .sppb-col-md-5 {
    width: 41.66666667%;
  }
  .sppb-col-md-4 {
    width: 33.33333333%;
  }
  .sppb-col-md-3 {
    width: 25%;
  }
  .sppb-col-md-2 {
    width: 16.66666667%;
  }
  .sppb-col-md-1 {
    width: 8.33333333%;
  }
  .sppb-col-md-pull-12 {
    right: 100%;
  }
  .sppb-col-md-pull-11 {
    right: 91.66666667%;
  }
  .sppb-col-md-pull-10 {
    right: 83.33333333%;
  }
  .sppb-col-md-pull-9 {
    right: 75%;
  }
  .sppb-col-md-pull-8 {
    right: 66.66666667%;
  }
  .sppb-col-md-pull-7 {
    right: 58.33333333%;
  }
  .sppb-col-md-pull-6 {
    right: 50%;
  }
  .sppb-col-md-pull-5 {
    right: 41.66666667%;
  }
  .sppb-col-md-pull-4 {
    right: 33.33333333%;
  }
  .sppb-col-md-pull-3 {
    right: 25%;
  }
  .sppb-col-md-pull-2 {
    right: 16.66666667%;
  }
  .sppb-col-md-pull-1 {
    right: 8.33333333%;
  }
  .sppb-col-md-pull-0 {
    right: auto;
  }
  .sppb-col-md-push-12 {
    left: 100%;
  }
  .sppb-col-md-push-11 {
    left: 91.66666667%;
  }
  .sppb-col-md-push-10 {
    left: 83.33333333%;
  }
  .sppb-col-md-push-9 {
    left: 75%;
  }
  .sppb-col-md-push-8 {
    left: 66.66666667%;
  }
  .sppb-col-md-push-7 {
    left: 58.33333333%;
  }
  .sppb-col-md-push-6 {
    left: 50%;
  }
  .sppb-col-md-push-5 {
    left: 41.66666667%;
  }
  .sppb-col-md-push-4 {
    left: 33.33333333%;
  }
  .sppb-col-md-push-3 {
    left: 25%;
  }
  .sppb-col-md-push-2 {
    left: 16.66666667%;
  }
  .sppb-col-md-push-1 {
    left: 8.33333333%;
  }
  .sppb-col-md-push-0 {
    left: auto;
  }
  .sppb-col-md-offset-12 {
    margin-left: 100%;
  }
  .sppb-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .sppb-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .sppb-col-md-offset-9 {
    margin-left: 75%;
  }
  .sppb-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .sppb-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .sppb-col-md-offset-6 {
    margin-left: 50%;
  }
  .sppb-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .sppb-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .sppb-col-md-offset-3 {
    margin-left: 25%;
  }
  .sppb-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .sppb-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .sppb-col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .sppb-col-lg-1, .sppb-col-lg-2, .sppb-col-lg-3, .sppb-col-lg-4, .sppb-col-lg-5, .sppb-col-lg-6, .sppb-col-lg-7, .sppb-col-lg-8, .sppb-col-lg-9, .sppb-col-lg-10, .sppb-col-lg-11, .sppb-col-lg-12 {
    float: left;
  }
  .sppb-col-lg-12 {
    width: 100%;
  }
  .sppb-col-lg-11 {
    width: 91.66666667%;
  }
  .sppb-col-lg-10 {
    width: 83.33333333%;
  }
  .sppb-col-lg-9 {
    width: 75%;
  }
  .sppb-col-lg-8 {
    width: 66.66666667%;
  }
  .sppb-col-lg-7 {
    width: 58.33333333%;
  }
  .sppb-col-lg-6 {
    width: 50%;
  }
  .sppb-col-lg-5 {
    width: 41.66666667%;
  }
  .sppb-col-lg-4 {
    width: 33.33333333%;
  }
  .sppb-col-lg-3 {
    width: 25%;
  }
  .sppb-col-lg-2 {
    width: 16.66666667%;
  }
  .sppb-col-lg-1 {
    width: 8.33333333%;
  }
  .sppb-col-lg-pull-12 {
    right: 100%;
  }
  .sppb-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .sppb-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .sppb-col-lg-pull-9 {
    right: 75%;
  }
  .sppb-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .sppb-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .sppb-col-lg-pull-6 {
    right: 50%;
  }
  .sppb-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .sppb-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .sppb-col-lg-pull-3 {
    right: 25%;
  }
  .sppb-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .sppb-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .sppb-col-lg-pull-0 {
    right: auto;
  }
  .sppb-col-lg-push-12 {
    left: 100%;
  }
  .sppb-col-lg-push-11 {
    left: 91.66666667%;
  }
  .sppb-col-lg-push-10 {
    left: 83.33333333%;
  }
  .sppb-col-lg-push-9 {
    left: 75%;
  }
  .sppb-col-lg-push-8 {
    left: 66.66666667%;
  }
  .sppb-col-lg-push-7 {
    left: 58.33333333%;
  }
  .sppb-col-lg-push-6 {
    left: 50%;
  }
  .sppb-col-lg-push-5 {
    left: 41.66666667%;
  }
  .sppb-col-lg-push-4 {
    left: 33.33333333%;
  }
  .sppb-col-lg-push-3 {
    left: 25%;
  }
  .sppb-col-lg-push-2 {
    left: 16.66666667%;
  }
  .sppb-col-lg-push-1 {
    left: 8.33333333%;
  }
  .sppb-col-lg-push-0 {
    left: auto;
  }
  .sppb-col-lg-offset-12 {
    margin-left: 100%;
  }
  .sppb-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .sppb-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .sppb-col-lg-offset-9 {
    margin-left: 75%;
  }
  .sppb-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .sppb-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .sppb-col-lg-offset-6 {
    margin-left: 50%;
  }
  .sppb-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .sppb-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .sppb-col-lg-offset-3 {
    margin-left: 25%;
  }
  .sppb-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .sppb-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .sppb-col-lg-offset-0 {
    margin-left: 0%;
  }
}
.sppb-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sppb-btn:focus,
.sppb-btn:active:focus,
.sppb-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sppb-btn:hover,
.sppb-btn:focus {
  color: #333333;
  text-decoration: none;
}
.sppb-btn:active,
.sppb-btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.sppb-btn.disabled,
.sppb-btn[disabled],
fieldset[disabled] .sppb-btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sppb-btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.sppb-btn-default:hover,
.sppb-btn-default:focus,
.sppb-btn-default:active,
.sppb-btn-default.active,
.open > .dropdown-toggle.sppb-btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.sppb-btn-default:active,
.sppb-btn-default.active,
.open > .dropdown-toggle.sppb-btn-default {
  background-image: none;
}
.sppb-btn-default.disabled,
.sppb-btn-default[disabled],
fieldset[disabled] .sppb-btn-default,
.sppb-btn-default.disabled:hover,
.sppb-btn-default[disabled]:hover,
fieldset[disabled] .sppb-btn-default:hover,
.sppb-btn-default.disabled:focus,
.sppb-btn-default[disabled]:focus,
fieldset[disabled] .sppb-btn-default:focus,
.sppb-btn-default.disabled:active,
.sppb-btn-default[disabled]:active,
fieldset[disabled] .sppb-btn-default:active,
.sppb-btn-default.disabled.active,
.sppb-btn-default[disabled].active,
fieldset[disabled] .sppb-btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.sppb-btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.sppb-btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active,
.sppb-btn-primary.active,
.open > .dropdown-toggle.sppb-btn-primary {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.sppb-btn-primary:active,
.sppb-btn-primary.active,
.open > .dropdown-toggle.sppb-btn-primary {
  background-image: none;
}
.sppb-btn-primary.disabled,
.sppb-btn-primary[disabled],
fieldset[disabled] .sppb-btn-primary,
.sppb-btn-primary.disabled:hover,
.sppb-btn-primary[disabled]:hover,
fieldset[disabled] .sppb-btn-primary:hover,
.sppb-btn-primary.disabled:focus,
.sppb-btn-primary[disabled]:focus,
fieldset[disabled] .sppb-btn-primary:focus,
.sppb-btn-primary.disabled:active,
.sppb-btn-primary[disabled]:active,
fieldset[disabled] .sppb-btn-primary:active,
.sppb-btn-primary.disabled.active,
.sppb-btn-primary[disabled].active,
fieldset[disabled] .sppb-btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.sppb-btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.sppb-btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.sppb-btn-success:hover,
.sppb-btn-success:focus,
.sppb-btn-success:active,
.sppb-btn-success.active,
.open > .dropdown-toggle.sppb-btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.sppb-btn-success:active,
.sppb-btn-success.active,
.open > .dropdown-toggle.sppb-btn-success {
  background-image: none;
}
.sppb-btn-success.disabled,
.sppb-btn-success[disabled],
fieldset[disabled] .sppb-btn-success,
.sppb-btn-success.disabled:hover,
.sppb-btn-success[disabled]:hover,
fieldset[disabled] .sppb-btn-success:hover,
.sppb-btn-success.disabled:focus,
.sppb-btn-success[disabled]:focus,
fieldset[disabled] .sppb-btn-success:focus,
.sppb-btn-success.disabled:active,
.sppb-btn-success[disabled]:active,
fieldset[disabled] .sppb-btn-success:active,
.sppb-btn-success.disabled.active,
.sppb-btn-success[disabled].active,
fieldset[disabled] .sppb-btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.sppb-btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.sppb-btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.sppb-btn-info:hover,
.sppb-btn-info:focus,
.sppb-btn-info:active,
.sppb-btn-info.active,
.open > .dropdown-toggle.sppb-btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.sppb-btn-info:active,
.sppb-btn-info.active,
.open > .dropdown-toggle.sppb-btn-info {
  background-image: none;
}
.sppb-btn-info.disabled,
.sppb-btn-info[disabled],
fieldset[disabled] .sppb-btn-info,
.sppb-btn-info.disabled:hover,
.sppb-btn-info[disabled]:hover,
fieldset[disabled] .sppb-btn-info:hover,
.sppb-btn-info.disabled:focus,
.sppb-btn-info[disabled]:focus,
fieldset[disabled] .sppb-btn-info:focus,
.sppb-btn-info.disabled:active,
.sppb-btn-info[disabled]:active,
fieldset[disabled] .sppb-btn-info:active,
.sppb-btn-info.disabled.active,
.sppb-btn-info[disabled].active,
fieldset[disabled] .sppb-btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.sppb-btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.sppb-btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.sppb-btn-warning:hover,
.sppb-btn-warning:focus,
.sppb-btn-warning:active,
.sppb-btn-warning.active,
.open > .dropdown-toggle.sppb-btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.sppb-btn-warning:active,
.sppb-btn-warning.active,
.open > .dropdown-toggle.sppb-btn-warning {
  background-image: none;
}
.sppb-btn-warning.disabled,
.sppb-btn-warning[disabled],
fieldset[disabled] .sppb-btn-warning,
.sppb-btn-warning.disabled:hover,
.sppb-btn-warning[disabled]:hover,
fieldset[disabled] .sppb-btn-warning:hover,
.sppb-btn-warning.disabled:focus,
.sppb-btn-warning[disabled]:focus,
fieldset[disabled] .sppb-btn-warning:focus,
.sppb-btn-warning.disabled:active,
.sppb-btn-warning[disabled]:active,
fieldset[disabled] .sppb-btn-warning:active,
.sppb-btn-warning.disabled.active,
.sppb-btn-warning[disabled].active,
fieldset[disabled] .sppb-btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.sppb-btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.sppb-btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.sppb-btn-danger:hover,
.sppb-btn-danger:focus,
.sppb-btn-danger:active,
.sppb-btn-danger.active,
.open > .dropdown-toggle.sppb-btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.sppb-btn-danger:active,
.sppb-btn-danger.active,
.open > .dropdown-toggle.sppb-btn-danger {
  background-image: none;
}
.sppb-btn-danger.disabled,
.sppb-btn-danger[disabled],
fieldset[disabled] .sppb-btn-danger,
.sppb-btn-danger.disabled:hover,
.sppb-btn-danger[disabled]:hover,
fieldset[disabled] .sppb-btn-danger:hover,
.sppb-btn-danger.disabled:focus,
.sppb-btn-danger[disabled]:focus,
fieldset[disabled] .sppb-btn-danger:focus,
.sppb-btn-danger.disabled:active,
.sppb-btn-danger[disabled]:active,
fieldset[disabled] .sppb-btn-danger:active,
.sppb-btn-danger.disabled.active,
.sppb-btn-danger[disabled].active,
fieldset[disabled] .sppb-btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.sppb-btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.sppb-btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.sppb-btn-link,
.sppb-btn-link:active,
.sppb-btn-link[disabled],
fieldset[disabled] .sppb-btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sppb-btn-link,
.sppb-btn-link:hover,
.sppb-btn-link:focus,
.sppb-btn-link:active {
  border-color: transparent;
}
.sppb-btn-link:hover,
.sppb-btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.sppb-btn-link[disabled]:hover,
fieldset[disabled] .sppb-btn-link:hover,
.sppb-btn-link[disabled]:focus,
fieldset[disabled] .sppb-btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.sppb-btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.sppb-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.sppb-btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.sppb-btn-block {
  display: block;
  width: 100%;
}
.sppb-btn-block + .sppb-btn-block {
  margin-top: 5px;
}
input[type="submit"].sppb-btn-block,
input[type="reset"].sppb-btn-block,
input[type="button"].sppb-btn-block {
  width: 100%;
}
.sppb-fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.sppb-fade.in {
  opacity: 1;
}
.sppb-collapse {
  display: none;
}
.sppb-collapse.in {
  display: block;
}
tr.sppb-collapse.in {
  display: table-row;
}
tbody.sppb-collapse.in {
  display: table-row-group;
}
.sppb-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.sppb-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.sppb-label:hover,
a.sppb-label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.sppb-label:empty {
  display: none;
}
.sppb-btn .sppb-label {
  position: relative;
  top: -1px;
}
.sppb-label-default {
  background-color: #777777;
}
.sppb-label-default[href]:hover,
.sppb-label-default[href]:focus {
  background-color: #5e5e5e;
}
.sppb-label-primary {
  background-color: #428bca;
}
.sppb-label-primary[href]:hover,
.sppb-label-primary[href]:focus {
  background-color: #3071a9;
}
.sppb-label-success {
  background-color: #5cb85c;
}
.sppb-label-success[href]:hover,
.sppb-label-success[href]:focus {
  background-color: #449d44;
}
.sppb-label-info {
  background-color: #5bc0de;
}
.sppb-label-info[href]:hover,
.sppb-label-info[href]:focus {
  background-color: #31b0d5;
}
.sppb-label-warning {
  background-color: #f0ad4e;
}
.sppb-label-warning[href]:hover,
.sppb-label-warning[href]:focus {
  background-color: #ec971f;
}
.sppb-label-danger {
  background-color: #d9534f;
}
.sppb-label-danger[href]:hover,
.sppb-label-danger[href]:focus {
  background-color: #c9302c;
}
.sppb-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sppb-thumbnail > img,
.sppb-thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.sppb-thumbnail:hover,
a.sppb-thumbnail:focus,
a.sppb-thumbnail.active {
  border-color: #428bca;
}
.sppb-thumbnail .sppb-caption {
  padding: 9px;
  color: #333333;
}
.sppb-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sppb-alert h4 {
  margin-top: 0;
  color: inherit;
}
.sppb-alert .sppb-alert-link {
  font-weight: bold;
}
.sppb-alert > p,
.sppb-alert > ul {
  margin-bottom: 0;
}
.sppb-alert > p + p {
  margin-top: 5px;
}
.sppb-alert-dismissable,
.sppb-alert-dismissible {
  padding-right: 35px;
}
.sppb-alert-dismissable .sppb-close,
.sppb-alert-dismissible .sppb-close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.sppb-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.sppb-alert-success hr {
  border-top-color: #c9e2b3;
}
.sppb-alert-success .alert-link {
  color: #2b542c;
}
.sppb-alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.sppb-alert-info hr {
  border-top-color: #a6e1ec;
}
.sppb-alert-info .alert-link {
  color: #245269;
}
.sppb-alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.sppb-alert-warning hr {
  border-top-color: #f7e1b5;
}
.sppb-alert-warning .alert-link {
  color: #66512c;
}
.sppb-alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.sppb-alert-danger hr {
  border-top-color: #e4b9c0;
}
.sppb-alert-danger .alert-link {
  color: #843534;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.sppb-progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.sppb-progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  overflow: hidden;
}
.sppb-progress-striped .sppb-progress-bar,
.sppb-progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.sppb-progress.active .sppb-progress-bar,
.sppb-progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.sppb-progress-bar[aria-valuenow="1"],
.sppb-progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}
.sppb-progress-bar[aria-valuenow="0"] {
  color: #777777;
  min-width: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.sppb-progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .sppb-progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.sppb-progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .sppb-progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.sppb-progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .sppb-progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.sppb-progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .sppb-progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.sppb-media,
.sppb-media-body {
  overflow: hidden;
  zoom: 1;
}
.sppb-media,
.sppb-media .sppb-media {
  margin-top: 15px;
}
.sppb-media:first-child {
  margin-top: 0;
}
.sppb-media-object {
  display: block;
}
.sppb-media-heading {
  margin: 0 0 5px;
}
.sppb-media > .pull-left {
  margin-right: 15px;
}
.sppb-media > .pull-right {
  margin-left: 15px;
}
.sppb-media-list {
  padding-left: 0;
  list-style: none;
}
.sppb-panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.sppb-panel-body {
  padding: 15px;
}
.sppb-panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  cursor: pointer;
}
.sppb-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.sppb-panel-title > a {
  color: inherit;
}
.sppb-panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.sppb-panel-group {
  margin-bottom: 20px;
}
.sppb-panel-group .sppb-panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.sppb-panel-group .sppb-panel + .sppb-panel {
  margin-top: 5px;
}
.sppb-panel-group .sppb-panel-heading {
  border-bottom: 0;
}
.sppb-panel-group .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top: 1px solid #dddddd;
}
.sppb-panel-group .sppb-panel-footer {
  border-top: 0;
}
.sppb-panel-group .sppb-panel-footer + .sppb-panel-collapse .sppb-panel-body {
  border-bottom: 1px solid #dddddd;
}
.sppb-panel-default {
  border-color: #dddddd;
}
.sppb-panel-default > .sppb-panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.sppb-panel-default > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #dddddd;
}
.sppb-panel-default > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #dddddd;
}
.sppb-panel-primary {
  border-color: #428bca;
}
.sppb-panel-primary > .sppb-panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.sppb-panel-primary > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #428bca;
}
.sppb-panel-primary > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #428bca;
}
.sppb-panel-success {
  border-color: #d6e9c6;
}
.sppb-panel-success > .sppb-panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.sppb-panel-success > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #d6e9c6;
}
.sppb-panel-success > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #d6e9c6;
}
.sppb-panel-info {
  border-color: #bce8f1;
}
.sppb-panel-info > .sppb-panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.sppb-panel-info > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #bce8f1;
}
.sppb-panel-info > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #bce8f1;
}
.sppb-panel-warning {
  border-color: #faebcc;
}
.sppb-panel-warning > .sppb-panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.sppb-panel-warning > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #faebcc;
}
.sppb-panel-warning > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #faebcc;
}
.sppb-panel-danger {
  border-color: #ebccd1;
}
.sppb-panel-danger > .sppb-panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.sppb-panel-danger > .sppb-panel-heading + .sppb-panel-collapse > .sppb-panel-body {
  border-top-color: #ebccd1;
}
.sppb-panel-danger > .sppb-panel-footer + .sppb-panel-collapse > .sppb-panel-body {
  border-bottom-color: #ebccd1;
}
.sppb-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sppb-nav > li {
  position: relative;
  display: block;
}
.sppb-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.sppb-nav > li > a:hover,
.sppb-nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.sppb-nav > li.disabled > a {
  color: #777777;
}
.sppb-nav > li.disabled > a:hover,
.sppb-nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.sppb-nav .open > a,
.sppb-nav .open > a:hover,
.sppb-nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.sppb-nav > li > a > img {
  max-width: none;
}
.sppb-nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.sppb-nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.sppb-nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.sppb-nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.sppb-nav-tabs > li.active > a,
.sppb-nav-tabs > li.active > a:hover,
.sppb-nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.sppb-nav-tabs.sppb-nav-justified {
  width: 100%;
  border-bottom: 0;
}
.sppb-nav-tabs.sppb-nav-justified > li {
  float: none;
}
.sppb-nav-tabs.sppb-nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .sppb-nav-tabs.sppb-nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .sppb-nav-tabs.sppb-nav-justified > li > a {
    margin-bottom: 0;
  }
}
.sppb-nav-tabs.sppb-nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.sppb-nav-tabs.sppb-nav-justified > .active > a,
.sppb-nav-tabs.sppb-nav-justified > .active > a:hover,
.sppb-nav-tabs.sppb-nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .sppb-nav-tabs.sppb-nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .sppb-nav-tabs.sppb-nav-justified > .active > a,
  .sppb-nav-tabs.sppb-nav-justified > .active > a:hover,
  .sppb-nav-tabs.sppb-nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.sppb-nav-pills > li {
  float: left;
}
.sppb-nav-pills > li > a {
  border-radius: 4px;
}
.sppb-nav-pills > li + li {
  margin-left: 2px;
}
.sppb-nav-pills > li.active > a,
.sppb-nav-pills > li.active > a:hover,
.sppb-nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.sppb-nav-stacked > li {
  float: none;
}
.sppb-nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.sppb-nav-justified {
  width: 100%;
}
.sppb-nav-justified > li {
  float: none;
}
.sppb-nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .sppb-nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .sppb-nav-justified > li > a {
    margin-bottom: 0;
  }
}
.sppb-nav-tabs-justified {
  border-bottom: 0;
}
.sppb-nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.sppb-nav-tabs-justified > .active > a,
.sppb-nav-tabs-justified > .active > a:hover,
.sppb-nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .sppb-nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .sppb-nav-tabs-justified > .active > a,
  .sppb-nav-tabs-justified > .active > a:hover,
  .sppb-nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.sppb-tab-content > .sppb-tab-pane {
  padding-top: 10px;
  display: none;
}
.sppb-tab-content > .active {
  display: block;
}
.sppb-embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.sppb-embed-responsive .sppb-embed-responsive-item,
.sppb-embed-responsive iframe,
.sppb-embed-responsive embed,
.sppb-embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.sppb-embed-responsive.sppb-embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.sppb-embed-responsive.sppb-embed-responsive-4by3 {
  padding-bottom: 75%;
}
.sppb-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.sppb-close:hover,
.sppb-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.sppb-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.sppb-form-control {
  display: block;
  width: 100%;
  height: 34px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sppb-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.sppb-form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.sppb-form-control:-ms-input-placeholder {
  color: #777777;
}
.sppb-form-control::-webkit-input-placeholder {
  color: #777777;
}
.sppb-form-control[disabled],
.sppb-form-control[readonly],
fieldset[disabled] .sppb-form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.sppb-form-control {
  height: auto !important;
}
.sppb-form-group {
  margin-bottom: 15px;
}
.sppb-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.sppb-popover.top {
  margin-top: -10px;
}
.sppb-popover.right {
  margin-left: 10px;
}
.sppb-popover.bottom {
  margin-top: 10px;
}
.sppb-popover.left {
  margin-left: -10px;
}
.sppb-popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.sppb-popover-content {
  padding: 9px 14px;
}
.sppb-popover > .arrow,
.sppb-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.sppb-popover > .arrow {
  border-width: 11px;
}
.sppb-popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.sppb-popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.sppb-popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.sppb-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.sppb-popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.sppb-popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.sppb-popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.sppb-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.sppb-popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
.sppb-carousel {
  position: relative;
}
.sppb-carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.sppb-carousel-inner > .sppb-item {
  padding: 60px;
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.sppb-carousel-inner > .sppb-item > img,
.sppb-carousel-inner > .sppb-item > a > img {
  line-height: 1;
}
.sppb-carousel-inner > .active,
.sppb-carousel-inner > .next,
.sppb-carousel-inner > .prev {
  display: block;
}
.sppb-carousel-inner > .active {
  left: 0;
}
.sppb-carousel-inner > .next,
.sppb-carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.sppb-carousel-inner > .next {
  left: 100%;
}
.sppb-carousel-inner > .prev {
  left: -100%;
}
.sppb-carousel-inner > .next.left,
.sppb-carousel-inner > .prev.right {
  left: 0;
}
.sppb-carousel-inner > .active.left {
  left: -100%;
}
.sppb-carousel-inner > .active.right {
  left: 100%;
}
@media screen and (min-width: 768px) {
  .sppb-carousel-pro .sppb-carousel-inner .sppb-row {
    display: table-row;
    height: 100%;
  }
  .sppb-carousel-pro .sppb-carousel-inner .sppb-row > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}
.sppb-carousel-arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.sppb-carousel-arrow.right {
  left: auto;
  right: 0;
}
.sppb-carousel-arrow:hover,
.sppb-carousel-arrow:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.sppb-carousel-arrow .fa-chevron-left,
.sppb-carousel-arrow .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.sppb-carousel-arrow .fa-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.sppb-carousel-arrow .fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.sppb-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.sppb-carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.sppb-carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.sppb-item.sppb-item-has-bg {
  padding: 0;
}
.sppb-item.sppb-item-has-bg .sppb-carousel-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
}
.sppb-item.sppb-item-has-bg .sppb-carousel-item-inner > div {
  height: 100%;
  display: table;
}
.sppb-item.sppb-item-has-bg .sppb-carousel-item-inner > div > div {
  display: table-cell;
  vertical-align: middle;
}
.sppb-carousel-pro-text h2 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
}
.sppb-testimonial-pro .sppb-carousel-inner > .sppb-item {
  padding: 0;
}
.sppb-testimonial-pro .sppb-img-responsive.sppb-avatar {
  display: inline-block;
}
.sppb-testimonial-pro .sppb-testimonial-message,
.sppb-testimonial-pro .sppb-testimonial-client,
.sppb-testimonial-pro .sppb-img-responsive.sppb-avatar {
  margin-bottom: 10px;
}
.sppb-testimonial-pro .sppb-testimonial-message {
  font-size: 18px;
  line-height: 26px;
}
.sppb-testimonial-pro .sppb-carousel-control {
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #333;
  color: #888;
  margin: 5px 3px 0;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.sppb-testimonial-pro .sppb-carousel-control:hover {
  background: #333;
  color: #fff;
}
.sppb-addon-tweet .sppb-tweet-avatar {
  display: inline-block;
  margin-bottom: 15px;
}
.sppb-addon-tweet .sppb-tweet-username {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sppb-addon-tweet .sppb-tweet-slider .sppb-carousel-inner > .sppb-item {
  padding: 0;
}
.sppb-addon-tweet .sppb-tweet-slider .sppb-tweet-created {
  display: inline-block;
  margin-bottom: 5px;
}
.sppb-addon-tweet .sppb-tweet-slider .sppb-carousel-control {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #333;
  color: #888;
  margin: 15px 3px 0;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.sppb-addon-tweet .sppb-tweet-slider .sppb-carousel-control:hover {
  background: #333;
  color: #fff;
}
.clearfix:before,
.clearfix:after,
.sppb-container:before,
.sppb-container:after,
.sppb-container-fluid:before,
.sppb-container-fluid:after,
.sppb-row:before,
.sppb-row:after,
.sppb-panel-body:before,
.sppb-panel-body:after,
.sppb-nav:before,
.sppb-nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.sppb-container:after,
.sppb-container-fluid:after,
.sppb-row:after,
.sppb-panel-body:after,
.sppb-nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
@-ms-viewport {
  width: device-width;
}
.sppb-visible-xs,
.sppb-visible-sm,
.sppb-visible-md,
.sppb-visible-lg {
  display: none !important;
}
.sppb-visible-xs-block,
.sppb-visible-xs-inline,
.sppb-visible-xs-inline-block,
.sppb-visible-sm-block,
.sppb-visible-sm-inline,
.sppb-visible-sm-inline-block,
.sppb-visible-md-block,
.sppb-visible-md-inline,
.sppb-visible-md-inline-block,
.sppb-visible-lg-block,
.sppb-visible-lg-inline,
.sppb-visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .sppb-visible-xs {
    display: block !important;
  }
  table.sppb-visible-xs {
    display: table;
  }
  tr.sppb-visible-xs {
    display: table-row !important;
  }
  th.sppb-visible-xs,
  td.sppb-visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .sppb-visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .sppb-visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .sppb-visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-visible-sm {
    display: block !important;
  }
  table.sppb-visible-sm {
    display: table;
  }
  tr.sppb-visible-sm {
    display: table-row !important;
  }
  th.sppb-visible-sm,
  td.sppb-visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-visible-md {
    display: block !important;
  }
  table.sppb-visible-md {
    display: table;
  }
  tr.sppb-visible-md {
    display: table-row !important;
  }
  th.sppb-visible-md,
  td.sppb-visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .sppb-visible-lg {
    display: block !important;
  }
  table.sppb-visible-lg {
    display: table;
  }
  tr.sppb-visible-lg {
    display: table-row !important;
  }
  th.sppb-visible-lg,
  td.sppb-visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .sppb-visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .sppb-visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .sppb-visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .sppb-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sppb-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sppb-hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .sppb-hidden-lg {
    display: none !important;
  }
}
.sppb-visible-print {
  display: none !important;
}
@media print {
  .sppb-visible-print {
    display: block !important;
  }
  table.sppb-visible-print {
    display: table;
  }
  tr.sppb-visible-print {
    display: table-row !important;
  }
  th.sppb-visible-print,
  td.sppb-visible-print {
    display: table-cell !important;
  }
}
.sppb-visible-print-block {
  display: none !important;
}
@media print {
  .sppb-visible-print-block {
    display: block !important;
  }
}
.sppb-visible-print-inline {
  display: none !important;
}
@media print {
  .sppb-visible-print-inline {
    display: inline !important;
  }
}
.sppb-visible-print-inline-block {
  display: none !important;
}
@media print {
  .sppb-visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .sppb-hidden-print {
    display: none !important;
  }
}
